.user-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-list-title {
  padding: 16px;
  /* background-color: #f0f6ff; */
  border-radius: 6px 6px 0 0;
  margin-bottom: 10px;
  /* border-left: 4px solid #1976d2; */
}

.user-list {
  flex-grow: 1;
  overflow-y: auto;
}

.user-list-item {
  border-radius: 4px;
  margin: 4px 0;
  transition: all 0.2s ease;
}

.user-list-item:hover {
  /* transform: translateX(5px); */
  /* background-color: rgba(25, 118, 210, 0.08) !important; */
}

.user-list-item-text {
  padding: 0 8px;
}

.user-list-divider {
  margin: 0 16px !important;
}